*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.nevbarMainContainer
{
    width:100%;
    height:10vh;
    background:rgb(247, 249, 247); 
    box-shadow: 1px 1.5px 12px rgb(166, 166, 166);
    font-family: 'Courier New', Courier, monospace;

    .nevbarInnerConatiner
    {
        position:relative;
        display:flex;
        justify-content: space-between;
    }
    .nevbar1sIcon
    {
        font-size: 25px;
        margin-left: 10px;
        line-height: 300%;
    }
    .nevbarLeft
    {
        position:relative;
        font-size: 20px;
        ul{
            list-style: none;
            line-height:350%;
            display:flex;
            margin-right: 20px;
            li{
                margin-right: 10px;
            }
        }
    }
    .neverMiddle
    {
        position:relative;
        font-size: 20px;
        margin-left: 200px;
        ul{
            list-style: none;
            line-height: 350%;
            display:flex;
            li{
                margin-left: 30px;
            }
        }
    }
}
.loginContainer
{
    position:absolute;
    width:100%;
    height:100vh;
    background:rgb(232, 206, 210);
    .loginInnerContainer
    {
        position:relative;
        width: 20%;
        height:40%;
        background:rgb(243, 227, 230);
        margin-left:40%;
        margin-top: 15%;
        .loginInput
        {
            position:relative;
            width:100%;
            height:50%;
            top:25px;
            input{
                position:relative;
                width:90%;
                margin-left:5%;
                border-radius: 10px;
                margin-top:7%;
                height:4.5vh;
            }
            button{
                position:relative;
                width:30%;
                height:15%;
                margin-left: 35%;
                margin-top: 5%;
            }
            p{
                width:100%;
                margin-top: 10px;
                margin-left: 60px;
            }   
        }
    }
}
.registrationContainer
{
    position:absolute;
    width:100%;
    height:100vh;
    background:rgb(232, 206, 210);
    .registrationInner{
        position:relative;
        width:24%;
        height: 65%;
        background:rgb(243, 227, 230);
        margin-left:40%;
        margin-top: 10%;
        .registrationInput
        {
            position:relative;
            top: 30px;
            text-align: center;
            label
            {
                position:relative;
                margin-top: 10px;
                font-size: 25px;
                font-family: 'Courier New', Courier, monospace;
            }
            select
            {
                position:relative;
                width:80%;
                height:4vh;
            }
            input {
                position:relative;
                width:80%;
                height:4vh;
                margin-bottom:10px;
                margin-top:10px;
            }
            button{
                position:relative;
                width:40%;
                margin-top:2%;
                height:3vh;
            }
        }
    }
}
.homeContainer
{
    position:absolute;
    width:100%;
    height:100vh;
    display:flex;
    background-color: rgb(231, 248, 231);
    
    .homeInner1
    {
        position:relative;
        width:80%;
        margin-left:5%;
        height: auto;
        box-shadow: 1px 10px 10px rgb(138, 137, 137);
        .homeInnerPost
        {
            position:relative;
            margin-top:12px;
            height:25vh;
            background: transparent;
            box-shadow: 1px 10px 10px rgb(216, 210, 210);
            .homeMainpost
            {
                position:relative;
                width:100%;
                margin-top: 20px;
                height:auto;
                .homeMainpostsub
                {
                    position:relative;
                    margin-left:9%;
                    height:120vh;
                    .name
                    {
                        position:relative;
                        display:Flex;
                        i{
                            position:relative;
                            margin-left: 40px;
                        }
                    }
                    img{
                        position:relative;
                        width:90%;
                        height:80vh;   
                    }
                    .likeordislike
                    {
                        display:flex;
                        margin-top: 10px;
                        .like{
                            position:relative;
                            margin-left:20px;
                        }
                        .dislike{
                            position:relative;
                            margin-left: 20px;
                        }
                    }
                }
            }
            .homrInnerPost1
            {
                position:relative;
                .file{
                    position:relative;
                    margin-left:600px;
                    margin-top: 20px;
                }
                button{
                    position:relative;
                    width:100px;
                    margin-left:-10px;
                }
            }
        }
    }
    .homeInner2
    {
        position:sticky;
        width:20%;
        height:100vh;
        
    }
}
.homeInner2
{
    position:relative;
    width:100%;
    margin-top:30px;
    height:auto;
    box-shadow: 2px 2px 2px black;
    .news_feeds
    {
        position:relative;
        .imgSection{
            position:relative;
            width: 100% ;
            height:45%;
           img{
            position:relative;
            width:90%;
            margin-left: 5%;
            box-shadow: 1px 1px 20px rgb(134, 133, 133);;
            height:100%;
           };
        }
    }
    
}